@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Header/>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
    </div>
<main class="container mb-5">

@Body

</main>
</div>