@page "/"
@inject NavigationManager NavManager
@inject IMediator Mediator
@using JobPortal.Shared.Features.Home.Shared;

<PageTitle>JobPortal</PageTitle>


@if ( _jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <JobSearch /> 

    <div class="grid">
        @foreach (var job in _jobs)
        {
            <JobCard Job="job" OnSelected="HandleJobSelected" />
        }
    </div>
}

@code {

    private IEnumerable<Jobs>? _jobs;
    private Jobs? _selectedjob;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Mediator.Send(new GetJobsRequest());
            _jobs = response.Jobs.Select(x => new Jobs
                {
                    Id = x.Id,
                    Name = x.Name,
                    EmployerName = x.EmployerName,
                    PLanguage = x.PLanguage,
                    FrameworkName = x.FrameworkName,
                    JobType = x.JobType,
                    Opento = x.Opento,
                    Image = x.Image,
                    Description = x.Description,
                    Location = x.Location,
                    Salary = x.Salary,
                    //Released = x.Released.ToString(),
                    CreatedDate = x.CreatedDate,
                    Owner =x.Owner
                });
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading job data: {ex.Message}");
        }
    }
    private void HandleJobSelected(Jobs job)
        => _selectedjob = job;

}
