@page "/employer"
@inject IMediator Mediator
@using JobPortal.Shared.Features.ManageEmployer;

@if ( _employer == null)
{
    <p><em>Loading Profile...</em></p>
}
else
{
    @foreach(var Employer in _employer)
    {
        <h3 class="mt-5 mb-4">@Employer.EmployerName</h3>
        <h4 class="mt-5 mb-4">@Employer.EmployerEmail</h4>
        <h4 class="mt-5 mb-4">@Employer.EmployerPhone</h4>

    }
}

@code {
    private IEnumerable<Employers>? _employer;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Mediator.Send(new GetEmployerRequest());
            _employer = response.Employers.Select(x => new Employers
            {
                Id = x.Id,
                EmployerName = x.EmployerName,
                EmployerEmail = x.EmployerEmail,
                EmployerPhone = x.EmployerPhone,
                Location = x.Location,
                Description = x.Description,
                Image = x.Image
            });
        
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading job data: {ex.Message}");
        }
    }
}